{% load static %}

<div class="flex flex-col sm:flex-row gap-3 bg-white border border-gray-200 rounded-xl p-4 shadow-sm hover:shadow-md transition-all">
    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="User" class="w-10 h-10 rounded-full" />
    <div class="flex-1">
        <div class="flex justify-between items-center mb-1">
            <h3 class="font-semibold text-gray-800">{{ comment.user.first_name }}</h3>
            <span class="text-xs text-gray-500">{{ comment.created_at|date:"d M Y, h:i A" }}</span>
        </div>
        <p class="text-gray-700 text-sm">{{ comment.content }}</p>
    </div>
</div>
