{% load static %} {% comment %} {% block title %} {{ blog.title }} || TechLife {% endblock title %} {% block content %} {% endcomment %}


<div class="flex flex-col-reverse lg:flex-row justify-between gap-6 mx-auto">
    <!-- RIGHT SIDE -->
    <div class="right w-full lg:w-[75%] px-3" id="right-blog">
        {% comment %} {% include 'components/blog_details/blog_right_partial.html' %} {% endcomment %}

        <!-- SEO Data for HTMX -->
        <div data-title="{{ blog.title }} || TechLife" style="display: none"></div>

        <div class="details_blog flex flex-col gap-y-4">
            <!-- Blog Title -->
            <h1 class="text-xl md:text-2xl font-bold font-inter">{{ blog.title }}</h1>
            {% comment %} <hr class="text-gray-200" /> {% endcomment %}
            <!-- Images Section -->
            <div class="image flex flex-col gap-2 rounded-lg">
                <!-- Main Image -->
                {% if blog.featured_image %}
                <img class="w-full h-64 md:h-80 rounded-lg object-cover" src="{{ blog.featured_image.url }}" alt="{{ blog.title }}" />
                {% elif blog.featured_image_url %}
                <img class="w-full h-64 md:h-80 rounded-lg object-cover" src="{{ blog.featured_image_url }}" alt="{{ blog.title }}" />
                {% else %}
                <img class="w-full h-64 md:h-80 rounded-lg object-cover" src="{% static 'image/placeholder-5.png' %}" alt="{{ blog.title }}" />
                {% endif %}

                <!-- Additional Images Thumbnails -->
                {% if blog.additional_images.all %}
                <div class="image_list flex gap-2 overflow-x-auto [&>img]:w-12 [&>img]:h-12 [&>img]:object-cover [&>img]:rounded-lg [&>img]:flex-shrink-0 [&>img]:aspect-square">
                    <!-- Main image thumbnail -->
                    {% if blog.featured_image %}
                    <img class="cursor-pointer hover:ring-2 hover:ring-blue-500" src="{{ blog.featured_image.url }}" alt="{{ blog.title }}" />
                    {% elif blog.featured_image_url %}
                    <img class="cursor-pointer hover:ring-2 hover:ring-blue-500" src="{{ blog.featured_image_url }}" alt="{{ blog.title }}" />
                    {% endif %}

                    <!-- Additional images -->
                    {% for additional_image in blog.additional_images.all %} {% if additional_image.additional_image %}
                    <img class="cursor-pointer hover:ring-2 hover:ring-blue-500" src="{{ additional_image.additional_image.url }}" alt="{{ blog.title }}" />
                    {% elif additional_image.additional_image_url %}
                    <img class="cursor-pointer hover:ring-2 hover:ring-blue-500" src="{{ additional_image.additional_image_url }}" alt="{{ blog.title }}" />
                    {% endif %} {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Blog Title -->
            {% comment %}
            <h1 class="text-xl md:text-2xl font-bold">{{ blog.title }}</h1>
            {% endcomment %} {% comment %}
            <hr class="text-gray-200" />
            {% endcomment %}

            <!-- Like Comment Share Views -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-3 py-2 bg-gray-100 border border-dashed rounded-lg">
                <!-- Likes -->
                <div x-data="{ liked: false }" class="flex gap-2 items-center">
                    <div class="bg-gray-100 rounded-full p-2 cursor-pointer" hx-post="{% url 'update_blog_stat' blog.slug 'like' %}" hx-trigger="click" hx-target="#like-count-{{ blog.id }}" hx-swap="outerHTML" @click="liked = !liked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" :class="{'stroke-blue-700': liked}" class="lucide lucide-thumbs-up transition-all duration-200">
                            <path d="M7 10v12" />
                            <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
                        </svg>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs">Likes({{ blog.likes }})</span>
                        <p class="text-sm" id="like-count-{{ blog.id }}"></p>
                    </div>
                </div>

                <!-- Views -->
                <div class="flex gap-2 items-center">
                    <div class="bg-gray-100 rounded-full p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
                            <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs">Views({{ blog.views }})</span>
                        <p class="text-sm"></p>
                    </div>
                </div>

                <!-- Comments -->

                <div class="flex gap-2 items-center">
                    <div class="bg-gray-100 rounded-full p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-text-icon lucide-message-square-text">
                            <path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z" />
                            <path d="M7 11h10" />
                            <path d="M7 15h6" />
                            <path d="M7 7h8" />
                        </svg>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs">Comments({{ blog.comments.count }})</span>
                        <p class="text-sm"></p>
                    </div>
                </div>

                <!-- Share -->
                <div class="flex gap-2 items-center">
                    <div class="bg-gray-100 rounded-full p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share2-icon lucide-share-2">
                            <circle cx="18" cy="5" r="3" />
                            <circle cx="6" cy="12" r="3" />
                            <circle cx="18" cy="19" r="3" />
                            <line x1="8.59" x2="15.42" y1="13.51" y2="17.49" />
                            <line x1="15.41" x2="8.59" y1="6.51" y2="10.49" />
                        </svg>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs">Share({{ blog.shares.count }})</span>
                        <p class="text-sm"></p>
                    </div>
                </div>
            </div>

            <p class="text-gray-700">{{ first_50_words }}</p>

            <!-- Add Section -->
            <div class="w-full flex justify-center items-center rounded-lg mt-3 h-36">
                <img class="w-full max-w-[970px] h-[200px] object-cover rounded-xl flex justify-center items-center text-sm text-gray-400 border border-gray-200" src="#" alt="Google add fixed size (970 * 250) px" />
            </div>

            <!-- Content -->
            <div class="w-full">
                <p class="text-gray-700 leading-relaxed">{{ remaining_words|linebreaksbr }}</p>
            </div>

            <!-- comment and Reply  -->

            <div class="mt-5 bg-gray-50 p-6 rounded-xl shadow">
                <div class="flex items-start gap-3">
                    <!-- Comment Input -->
                    <div class="size-10 bg-gray-200 rounded-full flex items-center justify-center text-gray-800 font-semibold">
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.first_name|slice:'1' }}" />
                    </div>
                    <!-- comment Form -->
                    {% comment %}
                    <form class="w-full" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="content" id="commentContent" class="w-full border rounded-lg p-2 focus:ring focus:ring-blue-300 focus:outline-none" rows="2" placeholder="Write a comment..."></textarea>
                        <button type="submit" id="postCommentBtn" class="mt-2 bg-gray-100 text-blue-500 px-2 py-1 rounded-lg hover:bg-gray-200 transition flex items-center space-x-2">
                            Comment
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-horizontal-icon lucide-send-horizontal">
                                <path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z" />
                                <path d="M6 12h16" />
                            </svg>
                        </button>
                    </form>
                    {% endcomment %}
                    <form class="w-full" method="post" hx-post="{% url 'blog_post:post_comment' blog.slug %}" hx-target="#commentSection" hx-swap="beforeend" hx-on::after-request="this.reset()" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="content" id="commentContent" class="w-full border rounded-lg p-2 focus:ring focus:ring-blue-300 focus:outline-none" rows="2" placeholder="Write a comment..."></textarea>
                        <button type="submit" id="postCommentBtn" class="mt-2 bg-gray-100 text-blue-500 px-2 py-1 rounded-lg hover:bg-gray-200 transition flex items-center space-x-2">
                            Comment
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-horizontal-icon lucide-send-horizontal">
                                <path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z" />
                                <path d="M6 12h16" />
                            </svg>
                        </button>
                    </form>
                </div>

                <!-- All Comments -->
                <div id="commentSection" class="space-y-6 mt-6">
                    {% for comment in blog.comments.all %}
                    <div class="pb-4" id="comment-{{ comment.id }}">
                        <div class="flex items-start gap-3">
                            <!-- Comment user -->
                            <div class="size-10 bg-gray-200 rounded-full flex items-center justify-center text-gray-800 font-semibold">
                                <img src="{{ comment.user.profile_picture.url }}" alt="{{ comment.user.first_name|slice:'1' }}" />
                            </div>
                            <div class="w-full">
                                <div class="flex justify-between">
                                    <p class="font-semibold">{{ comment.user.first_name }}</p>
                                </div>
                                <p class="text-gray-800 mt-1 text-sm md:text-md leading-relaxed">{{ comment.content }}</p>

                                <!-- Reply Button -->
                                <button class="text-blue-500 text-sm mt-2 hover:underline" onclick="toggleReplyBox('reply-box-{{ comment.id }}')">Reply</button>

                                <!-- Reply Box -->
                                <div id="reply-box-{{ comment.id }}" class="hidden mt-3">
                                    <textarea id="replyContent-{{ comment.id }}" class="w-full border rounded-lg p-2 focus:ring focus:ring-blue-300 focus:outline-none" rows="2" placeholder="Write a reply..."></textarea>
                                    <button onclick="postReply({{ comment.id }})" class="mt-2 bg-blue-600 text-white px-3 py-1 rounded-lg text-sm hover:bg-blue-700 transition">Post Reply</button>
                                </div>

                                <!-- Replies -->
                                {% for reply in comment.replies.all %}
                                <div class="ml-10 mt-3 flex items-start gap-3">
                                    <div class="size-8 bg-blue-400 rounded-full flex items-center justify-center text-white font-semibold">{{ reply.user.first_name|slice:":1" }}</div>
                                    <div class="w-full">
                                        <p class="font-semibold">{{ reply.user.first_name }}</p>
                                        <p class="text-gray-800 mt-1 text-sm md:text-md leading-relaxed">{{ reply.content }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Add Section -->
            <div class="w-full flex justify-center items-center rounded-lg mt-8">
                <img class="w-full max-w-[970px] h-[250px] object-cover rounded-xl flex justify-center items-center text-sm text-gray-400 border border-gray-200" src="#" alt="Google add fixed size (970 * 250) px" />
            </div>
        </div>
    </div>

    <!-- <div class="w-px bg-gray-200"></div> -->

    <!-- LEFT SIDE -->
    <div class="left w-full lg:w-[35%] flex flex-col gap-y-2 border-b lg:border-b-0 border-gray-300 pb-4 lg:pb-0 lg:pr-3">
        {% if category_blogs %}
        <h2 class="text-xl sm:text-xl font-semibold text-gray-700">More from ~ {{ blog.category }}</h2>
        {% else %}
        <h2 class="text-xl sm:text-xl font-semibold text-gray-700">More from ~ Other blogs</h2>
        {% endif %} 
        {% for item in category_blogs %}
        <div class="bg-base-100 rounded-lg group hover: p-3 flex flex-row gap-3 cursor-pointer" hx-get="{% url 'right_blog_details_partial' item.slug %}" hx-target="#right-blog" hx-swap="innerHTML">
            <!-- Thumbnail -->
            <div class="w-24 h-20 rounded-lg shrink-0">
                {% if item.featured_image %}
                <img class="w-full h-full rounded-lg object-cover transform transition duration-300 group-hover:aspect-square group-hover:scale-105" src="{{ item.featured_image.url }}" alt="{{ item.title }}" />
                {% elif item.featured_image_url %}
                <img class="w-full h-full rounded-lg object-cover transform transition duration-300 group-hover:aspect-square group-hover:scale-105" src="{{ item.featured_image_url }}" alt="{{ item.title }}" />
                {% else %}
                <img class="w-full h-full rounded-lg object-cover transform transition duration-300 group-hover:aspect-square group-hover:scale-105" src="{% static 'image/placeholder-5.png' %}" alt="No image" />
                {% endif %}
            </div>

            <!-- Content -->
            <div class="flex flex-col justify-between">
                <h2 class="text-sm font-semibold line-clamp-2 font-inter group-hover:text-blue-600">{{ item.title|truncatechars:44}}</h2>
                <p class="text-xs text-gray-500 line-clamp-2 font-inter">{{ item.description}}</p>

                <!-- View Like Share
                <div class="flex gap-4 px-1 sm:px-2 mt-1">
                    <div class="like flex gap-1 items-center text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up size-4">
                            <path d="M7 10v12" />
                            <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
                        </svg>
                        <p>{{ item.likes }}</p>
                    </div>

                    <div class="views flex gap-1 items-center text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye size-4">
                            <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        <p>{{ item.views }}</p>
                    </div>

                    <div class="share flex gap-1 items-center text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share2-icon lucide-share-2 size-4">
                            <circle cx="18" cy="5" r="3" />
                            <circle cx="6" cy="12" r="3" />
                            <circle cx="18" cy="19" r="3" />
                            <line x1="8.59" x2="15.42" y1="13.51" y2="17.49" />
                            <line x1="15.41" x2="8.59" y1="6.51" y2="10.49" />
                        </svg>
                        <p>{{ item.shares.count }}</p>
                    </div>
                </div> -->
            </div>
        </div>
        {% endfor %}

        <!-- Add Section -->
        <div class="w-full flex justify-center items-center rounded-lg mt-4">
            <img class="w-full max-w-[300px] h-[100px] object-cover rounded-xl flex justify-center items-center text-sm text-gray-400 border border-gray-200" src="#" alt="Google add fixed size (300 * 100) px" />
        </div>

        <!-- random category section -->
        {% if category_blogs %}
        <h2 class="text-xl sm:text-xl font-semibold mt-6 text-gray-700">More from ~ Other blogs</h2>
        {% else %}
        <h2 class="text-xl sm:text-xl font-semibold mt-6"></h2>
        {% endif %} {% for item in all_blogs|slice:":5" %}
        <div class="bg-base-100 rounded-lg group hover: p-3 flex flex-row gap-3 cursor-pointer" hx-get="{% url 'right_blog_details_partial' item.slug %}" hx-target="#right-blog" hx-swap="innerHTML">
            <!-- Thumbnail -->
            <div class="w-24 h-20 rounded-lg shrink-0">
                {% if item.featured_image %}
                <img class="w-full h-full rounded-lg object-cover transform transition duration-300 group-hover:aspect-square group-hover:scale-105" src="{{ item.featured_image.url }}" alt="{{ item.title }}" />
                {% elif item.featured_image_url %}
                <img class="w-full h-full rounded-lg object-cover transform transition duration-300 group-hover:aspect-square group-hover:scale-105" src="{{ item.featured_image_url }}" alt="{{ item.title }}" />
                {% else %}
                <img class="w-full h-full rounded-lg object-cover transform transition duration-300 group-hover:aspect-square group-hover:scale-105" src="{% static 'image/placeholder-5.png' %}" alt="No image" />
                {% endif %}
            </div>

            <!-- Content -->
            <div class="flex flex-col justify-between">
                <h2 class="text-sm font-semibold line-clamp-2 font-inter group-hover:text-blue-600">{{ item.title|truncatechars:44}}</h2>
                <p class="text-xs text-gray-500 line-clamp-2 font-inter">{{ item.description}}</p>

                <!-- View Like Share
                <div class="flex gap-4 px-1 sm:px-2 mt-1">
                    <div class="like flex gap-1 items-center text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up size-4">
                            <path d="M7 10v12" />
                            <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
                        </svg>
                        <p>{{ item.likes }}</p>
                    </div>

                    <div class="views flex gap-1 items-center text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye size-4">
                            <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        <p>{{ item.views }}</p>
                    </div>

                    <div class="share flex gap-1 items-center text-xs">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share2-icon lucide-share-2 size-4">
                            <circle cx="18" cy="5" r="3" />
                            <circle cx="6" cy="12" r="3" />
                            <circle cx="18" cy="19" r="3" />
                            <line x1="8.59" x2="15.42" y1="13.51" y2="17.49" />
                            <line x1="15.41" x2="8.59" y1="6.51" y2="10.49" />
                        </svg>
                        <p>{{ item.shares.count }}</p>
                    </div>
                </div> -->
            </div>
        </div>

        <hr class="text-gray-300" />
        {% endfor %}
    </div>
</div>

