<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Drop Down Sidebar Menu | CodingLab</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Boxiocns CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    
    <div class="sidebar close">
      <div class="logo-details">
        <div class="w-8 h-5 flex items-center justify-center flex-shrink-0">
          <img
            src="/static/image/company_logo.png"
            alt="Company Logo"
            class="rounded-full h"
          />
        </div>
        <span class="logo_name">Techlife</span>
      </div>
      <ul class="nav-links">
        <li>
          <a
            hx-get="{% url 'homepage' %}"
            hx-target="#container"
            hx-push-url="true"
            hx-swap="innerHTML"
          >
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-history"></i>
            <span class="link_name">Create</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Create</a></li>
          </ul>
        </li>
        <li>
          <a
            hx-get="{% url 'popular_blogs' %}"
            hx-target="#container"
            hx-push-url="true"
            hx-swap="innerHTML"
          >
            <i class="bx bx-compass"></i>
            <span class="link_name">Popular</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Category</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-collection"></i>
              <span class="link_name">Category</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Category</a></li>
            {% for cat in categories|slice:"8" %}
            <li><a href="#">{{ cat }}</a></li>
            {% endfor %}
            <li><a href="#">more</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-book-alt"></i>
              <span class="link_name">Posts</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Posts</a></li>
            <li><a href="#">Your Post</a></li>
            <li><a href="#">Recent Post</a></li>
            <li>
              <a
                hx-get="{% url 'blogs' %}"
                hx-target="#container"
                hx-push-url="true"
                hx-swap="innerHTML"
                >All News</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            hx-get="{% url 'contact_page' %}"
            hx-target="#container"
            hx-push-url="true"
            hx-swap="innerHTML"
          >
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Contact</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="link_name"
                hx-get="{% url 'contact_page' %}"
                hx-target="#container"
                hx-push-url="true"
                hx-swap="innerHTML"
                >Contact</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            hx-get="{% url 'contact_page' %}"
            hx-target="#container"
            hx-push-url="true"
            hx-swap="innerHTML"
          >
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Tags</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a
                class="link_name"
                hx-get="{% url 'contact_page' %}"
                hx-target="#container"
                hx-push-url="true"
                hx-swap="innerHTML"
                >Tags</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-line-chart"></i>
            <span class="link_name">Forum</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" href="{% url 'questions_list' %}">Forum</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-plug"></i>
              <span class="link_name">Questions</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Questions</a></li>
            <li><a href="#">Top question</a></li>
            <li><a href="#">Recent Question</a></li>
            <li><a href="#">Your Question</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-history"></i>
            <span class="link_name">Users</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Users</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <img src="image/profile.jpg" alt="profileImg" />
            </div>
            <div class="name-job">
              <div class="profile_name">Prem Shahi</div>
              <div class="job">Web Desginer</div>
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
      </ul>
    </div>

    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Drop Down Sidebar</span>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
